.student-courses-details {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.student-course-details {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.student-course-details button {
    display: block;
}

.student-details-card {
    padding-top: 10px;
    text-align: center;
}

.student-details-card img {
    width: 100%;
}