.courses-content {
    height: inherit;
    border-right: 2px #ccc solid;
    overflow: auto;
}

.course-card {
    height: 330px;
    margin-bottom: 15px;
}

.course-card img:hover {
    cursor: pointer;
}

.course-card:hover {
    transform: scale(1.05);
    transition: all ease-out 0.3s;
}