.app-home {
    height: 100vh;
}

.app-row {
    height: inherit;
}

.left-menu {
    height: 5vh;
    background-color: #dfdfdf;
    padding: 10px;
}

.home {
    border-right: #ccc;
    height: 90vh;
    border: 2px solid #ccc;
}