.course-students-details {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.course-student-details {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.course-student-details button {
    display: block;
}   